# Own stuff:
cpp/jp_table_gen
*.adf
*.adf~
*.asm~
*.hex
*.hex~
*.lst
*.lst~
*.bin~
*.mcu8051ide~
*.inc~
*.vhc~
.vscode/*
emulator/gui/build/*
emulator/LEDMatrix
emulator/test/Roulette*
emulator/build/*
emulator/test/data/*.asm
emulator/test/data/*.bin
emulator/test/gen_test_data

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
